.main__intro {
  margin: 92px 442px 0 148px;
}

@media screen and (max-width: 1024px) {
  .main__intro {
    margin: 92px 286px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .main__intro {
    margin: 88px 24px 0;
}
}

@media screen and (max-width: 320px) {
  .main__intro {
    margin: 64px 16px 0;
  }
}