.main__places {
  margin: 92px 148px 0;
}

@media screen and (max-width: 1024px) {
  .main__places {
    margin: 92px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .main__places {
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 676px) {
  .main__places {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .main__places {
    margin-top: 64px;
  }
}
