.cover__title {
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto 32px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  z-index: 2;
}

@media screen and (max-width: 505px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 240px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin: 33px 16px 0;
  }
}